<% layout("/layouts/boilerplate") %>

<body>
<div class="row">
  <div class="col-md-8 offset-md-2">

    <h2 class="mb-3"><%= listing.title %></h2>

    <div class="card mb-4 listing-card">
      <img 
        src="<%= listing.image.url %>" 
        class="card-img-top show-img" 
        alt="listing_img"
      >

      <div class="card-body">
        <ul class="list-unstyled">
          <li>owned by <i><%= listing.owner.username %></i></li>
          <li><%= listing.description %></li>
          <li>&#8377;<%= listing.price.toLocaleString("en-IN") %></li>
          <li><%= listing.location %></li>
          <li><%= listing.country %></li>
        </ul>
        <% if(currUser && listing.owner._id.equals(currUser._id)){ %>
        <form method="GET" action="/listings/<%= listing._id %>/edit" class="d-inline">
          <button class="btn btn-outline-primary">Edit</button>
        </form>

        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE" class="d-inline">
          <button class="btn btn-outline-danger">Delete</button>
        </form>
        <% } %>
      </div>
    </div>

    <hr>
    <div class="mb-3">
      <% if(currUser){ %>

       <h4>Leave a review</h4>

        <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate class="needs-validation" >
        <div class="mb-3">
            <label for="rating" class="form-label">Rating</label>
            <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
        </div>

        <div class="mb-3">
            <label for="comment" class="form-label">Comments</label>
            <textarea name="review[comment]" id="comment" rows="4" class="form-control" required></textarea>
            <div class="invalid-feedback">please add some comment for review</div>
        </div>

        <button class="btn btn-outline-dark">Submit</button>
        </form>
      <% } %>
    </div>
    <hr>
   <h3>All reviews</h3>
   <div class="row">
     <% for(review of listing.reviews) {%>
          <div class="card col-5 ms-3 mb-3">
            <div class="card-body">
                <h5 class="card-title"><%=  review.author.username %></h5>
                <p class="card-text"><%= review.comment %></p>
                <p class="card-text"><%= review.rating %> Star</p>
                <form
                class="mb-3"
                method="POST"
                action="/listings/<%= listing.id %>/reviews/<%= review.id %>?_method=DELETE">
                <button class="btn btn-sm btn-dark">Delete</button>

                </form>
            </div>
          </div>
    <% } %>
   </div>
    
   
  
  </div>
</div>
</body>
